
@{
    ViewBag.Title = "HotelReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>采购单录入</h2>
<div><label>商品名称:</label><input type="text" value="" /> </div>
<div><label>规    格:</label><input type="text" value="" /> </div>
<div><label>单    位:</label><input type="text" value="" /> </div>
<div><label>单    价:</label><input type="text" value="" /> </div>
<div><label>品    牌:</label><input type="text" value="" /> </div>
<div><label>日    期:</label><input type="text" value="" /> </div>
<div><label>送货地点:</label><input type="text" value="" /> </div>
<div><label>备    注:</label><input type="text" value="" /> </div>
<div><label>供 应 商:</label><input type="text" value="" /> </div>
<div><span>提交</span><span>返回主页面</span></div>



