@{
    ViewBag.Title = "HotelReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $("#btnSubmit").click(function () {
        var strUserName = $('#txt_UserName').val();
        var strPassword = $('#txt_Password').val();
        var data =
        {
            strUserName: strUserName,
            strPassword: strPassword
        }

        $.post("/Home/LoginSys", data, function (returnData) {
            alert(returnData.RetStatus);
            if (returnData.RetStatus == "成功") {
                window.location.href = "/MainFrm/MainFrm";
            }
        });

    });
</script>
<h2>采购单录入</h2>
<div><label>商品名称:</label><input id="txt_ProductName" type="text" value="" /> </div>
<div><label>规    格:</label><input id="txt_Model" type="text" value="" /> </div>
<div><label>单    位:</label><input id="txt_Unit" type="text" value="" /> </div>
<div><label>单    价:</label><input id="txt_Price" type="text" value="" /> </div>
<div><label>品    牌:</label><input id="txt_BrandName" type="text" value="" /> </div>
<div><label>日    期:</label><input id="txt_Date" type="text" value="" /> </div>
<div><label>送货地点:</label><input id="txt_DeliveryPlace" type="text" value="" /> </div>
<div><label>备    注:</label><input id="txt_ProductName" type="text" value="" /> </div>
<div><label>供 应 商:</label><input id="txt_ProductName" type="text" value="" /> </div>
<div><span id="btnSubmit">提交</span><span>返回主页面</span></div>



