<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SZLogisticsEFContainer" connectionString="metadata=res://*/SZLogisticsEF.csdl|res://*/SZLogisticsEF.ssdl|res://*/SZLogisticsEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=SZ_Buyer;user id=sa;password=000000;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>