
@{
    ViewBag.Title = "HotelBill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script>
    function ReportDetail(ReportID)
    {
        localStorage.setItem("ReportID", ReportID);
        window.location.href = "/HReportDetail/HReportDetail";
    }

    $(document).ready(
            function () {
                var data = { strConn: "" };
                $.post("/HotelBill/PageLoad",data, function (DataRet) {
                    var result = $.parseJSON(DataRet);
                    var strTable = "";
                    $.each(result.data, function (i, n) {
                        strTable += "<div onclick=\"ReportDetail(" + n.ReportID + ")\">";
                        strTable += "<div>" + "ID:" + (i+1) + "</div>";
                        strTable += "<div>" + "商品名称:" + n.ProductName + "</div>";
                        strTable += "<div>" + "酒店名称:" + n.HotelName + "</div>";
                        strTable += "<div>" + "发布日期:" + n.RetDate + "</div>";
                        strTable += "<div style='height:5px'><div>";
                        strTable += "</div>";
                    });
                    $("#HotelBills").html(strTable);


                });

                $("#btn_Submit").click(function () {
                    var data = { strConn: $("#txt_HotelName").val() };
                    $.post("/HotelBill/PageLoad", data, function (DataRet) {
                        var result = $.parseJSON(DataRet);
                        var strTable = "";
                         
                        $.each(result.data, function (i, n) {
                            strTable += "<div onclick=\"ReportDetail(" + n.ReportID + ")\">";
                            strTable += "<div>" + "ID:" + (i + 1) + "</div>";
                            strTable += "<div>" + "商品名称:" + n.ProductName + "</div>";
                            strTable += "<div>" + "酒店名称:" + n.HotelName + "</div>";
                            strTable += "<div>" + "发布日期:" + n.RetDate + "</div>";
                            strTable += "<div style='height:5px'><div>";
                            strTable += "</div>";
                        });
                        $("#HotelBills").html(strTable);


                    });
                });
            });
</script>

<h2>酒店采购单</h2>
<div>
    <label id="lb_HotelName">酒店名称：</label><input id="txt_HotelName" /> <input id="btn_Submit" type="button" value="查询" />
    @*默认显示所有供应商已经确认的信息*@
    <div id="HotelBills" style="overflow:scroll">

    </div>

</div>

