
@{
    ViewBag.Title = "PMainFrm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>供应商主界面</h2>

<div><label><a href="/HotelBill/HotelBill">采购需求信息</a></label></div>
<div><label>个人信息修改</label></div>
<div><label>注销</label></div>