
@{
    ViewBag.Title = "MainFrm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>


</div>
<h2>主页面</h2>
<div>
    <a href="/HotelReport/HotelReport">采购单录入</a>
</div>
<div>
    <a href="/MainFrm/MainFrm">供应商反馈</a>
</div>
<div>
   <a href="/MainFrm/MainFrm">个人信息</a>
</div>
<div>
    <a href="/MainFrm/MainFrm">注销</a>
</div>
