
@{
    ViewBag.Title = "MainFrm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>


</div>
<h2>主页面</h2>
<div>
    <label>采购单录入</label><a href="/HotelReport/HotelReport"></a>
</div>
<div>
    <label>供应商反馈</label><a href="/MainFrm/MainFrm"></a>
</div>
<div>
    <label>个人信息</label><a href="/MainFrm/MainFrm"></a>
</div>
<div>
    <label>注销</label><a href="/MainFrm/MainFrm"></a>
</div>
