@{
    ViewBag.Title = "SZLogistics-采购信息管理系统";
}

<div>
    @*<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>*@
    <script>
        $(document).ready(
            function () {
                $("#btnLogin").click(function ()
                {
                    var strUserName = $('#txt_UserName').val();
                    var strPassword = $('#txt_Password').val();
                    var strType=""
                    var data =
                    {
                        strUserName: strUserName,
                        strPassword: strPassword
                    }

                    $.post("/Home/LoginSys",data, function(returnData) 
                    {
                        alert(returnData.RetStatus);
                        if (returnData.RetStatus == "成功")
                        {
                            window.location.href = "/MainFrm/MainFrm";
                        }
                    });
            
                });

                    //$.ajax({
                    //    type: 'post',
                    //    url: '/Home/LoginSys',//路径为添加方法
                    //    data: 'strUserName=' + strUserName + '&strPassword=' + strPassword,//参数的个数和名字要和方法的名字保持一致
                    //    success: function (ReturnValue)//返回的是Json类型的
                    //    {
                    //        $('#window').dialog("close");
                    //        //判断是否成功
                    //        if (ReturnValue.result == "true") {
                    //            $('#btn_close').click();
                    //            alert('恭喜你，修改成功！');
                    //        } else {
                    //            alert('抱歉，修改失败！');
                    //        }
                    //    }
                    //});

           });
    </script>
</div>
<div>
    <label>用户名: </label> <input id="txt_UserName" type="text" value=""/>
    
</div>
<div>
    <label>密  码: </label> <input id="txt_Password" type="password" value="" />
</div>
<div>
    <select id="sel_UserType">

    </select>
</div>
<div>
    <span id="btnLogin">登录</span><span id="btnReset">重置</span>
</div>